/*Slideshow*/
.mySlides3-1, .mySlides3-2, .mySlides3-3 {
  display: none
}

img {
  vertical-align: middle;
}

b {
  color: #db395c;
  font-weight: 900;
}

.material-icons {
  font-size:24px;
  color: #db395c;
}

.offsideart {
  padding: 0px 0px 35px 30px;
  background-image: repeating-linear-gradient(45deg, #471291 0, #471291 5px, transparent 0, transparent 50%);
  background-size: 30px 30px;
  background-color: #fbeeff;
  max-width: 2000px;
  position: relative;
  max-height: 1000px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 2000px;
  position: relative;
  margin: auto;
  max-height: 1000px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  color: #fffb80;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: #db395c;
}

.prev, .next {
  padding: 8px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #fffb80;
  color: #db395c;
}

#mlo1, #mlo2, #mlo3, #mlo4, #mlo5 {
  display: none;
}
