html,body {
  overflow-x: hidden;
  width: 100%;
  height: auto;
  margin: 0;
  background-color: rgba(232, 223, 209, 1);
  color: black;
}

.navbar-default {
    background-color: rgb(54, 56, 55);
    border-color: rgb(28, 31, 30);
}

.navbar-default .navbar-brand,.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-brand:hover {
    color: #ff7f50;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #ff7f50;
}

#org {
  color: #ff7f50;
}

.center-div {
  padding: 2vh 8vw;
  overflow-y: hidden;
}

.padding {
  padding: 10px;
}

img {
  width: 100%;
}

#smaller {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#center-text {
  text-align: center;
  text-transform: capitalize;
  font-weight: bolder;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Playfair Display', serif;
}

h1 {
  color: white;
}

p,li {
  font-family: 'Poppins', sans-serif;
}

p,li {
  line-height: 150%;
  font-size: 16px;
}

@media screen and (min-width: 601px) {
  p,li {
    font-size: 25px;
  }
}

@media screen and (min-width: 2000px) {
  p,li {
    font-size: 28px;
  }
}

hr {
  height: 4px;
  border-width: 0;
  color: #333333;
  background-color: #333333;
}

/* videos settings */
.video-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
  padding: 20px;
}

.sample-heading {
  padding: 1em;
  border: 0.20em solid #ff7f50;
  position: relative;
  text-align: center;
  background-color: rgb(54, 56, 55)
}
