html,body {
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  margin: 0;
  color: black;
  background-image: radial-gradient(#471291 1px, transparent 1px), radial-gradient(#471291 1px, transparent 1px);
  background-size: 34px 34px;
  background-position: 0 0, 17px 17px;
  background-color: #fbeeff;
  border-left: 5px solid #471291;
  border-right: 5px solid #471291;
}

footer {
  background-color: red;
  color: white;
  text-align: center;
  margin: 0;
  padding: 5px;
  font-weight: 900;
}

img.yuli {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 350px;
  height: auto;
}

.navbar-default {
  background-image: radial-gradient(#fbeeff 1px, transparent 1px), radial-gradient(#fbeeff 1px, transparent 1px);
  background-size: 34px 34px;
  background-position: 0 0, 17px 17px;
  background-color: #471291;
  border: none;
  border-radius: 0;
}

.navbar-default .navbar-brand,.navbar-default .navbar-nav>li>a {
    color: #fffb80;
    font-weight: 900;
}

.navbar-default .navbar-nav>li>a {
    color: #fffb80;
    margin: 8px;
}

.navbar-default .navbar-brand:hover {

}

.navbar-default .navbar-nav>li>a:hover {
    color: #fffb80;
    background-color: #db395c;
}

#org {
  color: white;
  font-weight: 900;
  font-family: 'Playfair Display', serif;
  text-decoration: underline;
}

.center-div {
  padding: 3vh 8vw;
  overflow-y: scroll;
  overflow-y: hidden;
}

img {
  width: 100%;
}

a#catalog {
  color: #db395c;
  font-weight: 900;
}

a#catalog:hover {
  background-color: #c0b3ef;
  color: white;
  font-weight: 900;
}

#center {
  text-align: center;
  text-transform: capitalize;
  font-weight: bolder;
  color: #333333;
}

#center-text {
  text-align: center;
  text-transform: capitalize;
  font-weight: bolder;
}

mark {
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  background-color: #c0b3ef;
  color: #fffb80;
  font-weight: 900;
  text-decoration: underline;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  background-color: purple;
}

h1 {
  color: white;
  font-size: 31px;
  font-family: 'Playfair Display', serif;
}

p,li {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

p,li {
  line-height: 150%;
  font-size: 15px;
}

@media screen and (min-width: 601px) {
  p,li {
    font-size: 20px;
  }
  .center-div {
    padding: 2vh 6vw;
  }
  .prev, .next {
    padding: 14px;
  }
  h1 {
    font-size: 35px;
  }
  h2,mark {
    font-size: 40px;
  }
}

@media screen and (min-width: 2000px) {
  p,li {
    font-size: 30px;
  }
  .center-div {
    padding: 2vh 7vw;
  }
  .prev, .next {
    padding: 16px;
  }
  h1 {
    font-size: 48px;
  }
  h2,mark  {
    font-size: 45px;
  }
}

hr {
  height: 10px;
  border-width: 0;
  color: #471291;
  background-color: #471291;
  border-radius: 35px 15px;
}

/* videos settings */
.video-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
  padding: 20px;
}

.sample-heading {
  padding: 1em;
  position: relative;
  text-align: center;
  border-left: 10px solid #471291;
  border-bottom: 10px solid #471291;
  bottom: 0; left: 0;
  border-radius: 35px 15px;

  color: #fffb80;
  background-image: radial-gradient(#fffb80 1px, transparent 1px), radial-gradient(#fffb80 1px, transparent 1px);
  background-size: 34px 34px;
  background-position: 0 0, 17px 17px;
  background-color: #c0b3ef;
}

#purplebox {
  background-color: rgba(233,226,166,0.8);
  padding: 3em;
  margin: 0 1em;
  border-radius: 35px 15px;
  border-right: 10px solid rgba(233,226,166,1);
  border-top: 10px solid rgba(233,226,166,1);
}
